main {
    @include flex-center;
    width: 100%;
    height: auto;
    // overflow: hidden;

    article {
        @include flex-center-column;
        width: 100%;
        height: 100%;
        scroll-snap-align: start;

        section {
            @include flex-center-column;
            width: 100%;
            height: 100%;
            scroll-snap-type: both mandatory;
            overflow: hidden;
            transform: translateY(10rem);
            opacity: 0;
            transition: 1.5s cubic-bezier(0.23, 1, 0.320, 1);
            z-index: 2;

            .content {
                @include flex-center-column;
                width: 100%;
                height: auto;
                padding: 6rem 0;


                h1 {
                    font-size: 5vh;
                    text-align: center;
                    font-family: 'Berkshire Swash', cursive;
                    color: rgb(58, 58, 58);
                    padding: 0 1rem;

                }

                .h1-white {
                    color: white;
                }

                h4 {
                    margin: 1rem 0 4rem;
                    font-size: 2vh;
                    color: rgb(78, 78, 78);
                    font-weight: 100;
                }

                .text,
                .gallery,
                .list {
                    @include flex-center-column;
                    height: auto;
                }

                .list {
                    ul {
                        width: 100%;
                        height: auto;
                        padding: 0 3rem;

                        li {
                            width: 100%;
                            margin: 1rem;
                            font-size: 3vh;
                            list-style: decimal;
                            text-align: left;
                            transform: translateY(3rem);
                            opacity: 1;

                            a {
                                padding: 1rem .5rem;
                                font-size: 3vh;
                                text-align: center;
                                color: white;
                                text-decoration: none;
                                transition: .2s linear;

                                i {
                                    margin-right: 1.5rem;

                                    transition: .2s linear;
                                }
                            }
                        }

                        .l-con {
                            a {
                                color: black;
                                font-size: 1.5rem;
                            }
                        }

                        .no-style {
                            list-style: none;
                        }
                    }
                }

                .gallery {


                    .img-group {
                        @include flex-center-column;
                        width: 100%;
                        height: auto;
                        // overflow: hidden;

                        .img-box {
                            width: 100%;
                            min-height: 40vh;


                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .text {


                    .text-in {
                        padding: 2rem;

                        p {
                            font-size: 3vh;
                            text-align: center;
                            margin-bottom: 3rem;

                            .bigger {
                                font-size: calc(3vh + .5px);
                                font-family: 'Love Light', cursive;

                                .bold-color {
                                    color: $color_a;
                                }
                            }
                        }
                    }
                }

                .line {
                    width: 40%;
                    height: .3rem;
                    background-color: $color_a;
                    margin: 4rem;
                }

                .line-white {
                    background-color: white;
                }

                table {
                    width: 100%;
                    max-width: 80rem;
                    padding: 1rem;

                    tr {


                        th,
                        td {
                            padding: 1rem 1.5rem;
                            text-align: left;
                            border-radius: .5rem;

                        }

                        th {
                            background-color: $color_a;
                            color: white;
                            font-size: 2rem;
                        }

                        td {
                            width: 70%;
                            box-shadow: inset 0 0 .8rem .1rem rgb(100, 100, 100);
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
                        }

                        th:nth-child(even),
                        td:nth-child(even) {
                            width: 30%;
                            text-align: center;
                        }
                    }
                }
            }

            .h-8 {
                min-height: 80vh;
            }

            .color-a {
                background-color: $color_a;
                color: white;
            }

            .color-b {
                background-color: rgba(235, 235, 235, 0.178);
            }
        }

        .section-active {
            transform: translateY(0);
            opacity: 1;

        }

    }
}

@media(min-width:769px) {
    main {
        article {
            section {
                .content {

                    h1 {
                        font-size: 6vh;
                    }

                    h4 {
                        font-size: 3vh;
                    }

                    .text,
                    .gallery {
                        // @include flex-center-column;
                        max-width: 80%;

                    }

                    .list {
                        ul {
                            li {

                                margin: 2rem;


                                a {
                                    padding: 1rem 2rem;
                                    // font-size: 3vh;


                                    i {
                                        margin-right: 1.5rem;

                                        transition: .2s linear;
                                    }
                                }
                            }



                            // .l-con:hover {
                            //     a {
                            //         color: rgb(189, 189, 189)
                            //     }

                            //     a[id=instagram] {
                            //         i {
                            //             color: rgb(253, 49, 134)
                            //         }
                            //     }

                            //     a[id=facebook] {
                            //         i {
                            //             color: rgb(49, 154, 253)
                            //         }
                            //     }

                            //     a[id=phone],
                            //     a[id=email] {
                            //         i {
                            //             color: $color_a;
                            //         }
                            //     }
                            // }

                            .no-style {
                                list-style: none;
                            }
                        }
                    }

                    .gallery {
                        padding: 8rem;

                        .img-group {
                            @include flex-center-row;
                            // width: 100%;
                            flex-wrap: wrap;





                            .img-box {
                                width: 45%;
                                min-height: 40vh;
                                margin: 1rem;


                                img {
                                    width: 100%;
                                    border-radius: 10px;
                                    box-shadow: 0 0 1rem .1rem rgb(158, 158, 158);
                                }
                            }
                        }
                    }

                    .text {
                        .text-in {
                            p {
                                font-size: 3vh;
                            }
                        }
                    }

                    .line {
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media(min-width:1025px) {
    main {
        article {
            section {
                .content {

                    .text {
                        max-width: 90%;
                    }

                    .list {
                        ul {
                            .l-con {
                                a {
                                    font-size: 2.5vh;

                                    i {
                                        transition: .3s linear;
                                    }
                                }
                            }

                            .l-con:hover {
                                a {
                                    color: rgb(189, 189, 189);

                                    i {
                                        transform: rotate(-45deg);
                                    }
                                }

                                a[id=instagram] {
                                    i {
                                        color: rgb(253, 49, 134)
                                    }
                                }

                                a[id=facebook] {
                                    i {
                                        color: rgb(49, 154, 253)
                                    }
                                }

                                a[id=phone],
                                a[id=email] {
                                    i {
                                        color: $color_a;
                                    }
                                }
                            }


                        }
                    }

                    .gallery {
                        padding: 8rem 5rem;
                        width: 100%;

                        .img-group {
                            @include flex-center-row;
                            // width: 100%;
                            flex-wrap: wrap;





                            .img-box {
                                @include flex-center;
                                width: 40rem;
                                // border: 2px solid $color_a;
                                border: 1px solid rgba(128, 128, 128, 0.555);
                                padding: 2rem;
                                border-radius: 5px;
                                margin-bottom: 2rem;
                                transition: .5s linear;
                                z-index: 2;
                                overflow: hidden;

                                img {
                                    border-radius: 5px;
                                    transition: 1s linear;
                                }
                            }

                            .img-box:hover {
                                border-color: rgba(128, 128, 128, 0);



                                img {
                                    transform: scale(1.5);
                                }
                            }
                        }
                    }

                    .text {
                        .text-in {

                            max-width: 120rem;

                            p {
                                font-size: 3vh;
                            }
                        }
                    }

                    table {
                        width: 100%;
                        max-width: 80rem;
                        padding: 1rem;

                        tr:hover {
                            td {
                                box-shadow: inset 0 0 .8rem .1rem $color_a;
                            }

                            td:nth-child(even) {
                                transform: scale(1.1) translateX(1.1rem);
                                border-top-right-radius: 1rem;
                                border-bottom-right-radius: 1rem;
                            }
                        }
                    }

                    .line {
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media(min-width:1920px) {
    main {
        article {
            section {
                max-width: 192rem;

                .content {

                    // .text,
                    // .gallery {
                    //     max-width: 100%;
                    // }

                    .list {
                        ul {
                            .l-con {
                                a {
                                    font-size: 2.5vh;
                                }
                            }

                            .l-con:hover {
                                a {
                                    color: rgb(189, 189, 189)
                                }

                                a[id=instagram] {
                                    i {
                                        color: rgb(253, 49, 134)
                                    }
                                }

                                a[id=facebook] {
                                    i {
                                        color: rgb(49, 154, 253)
                                    }
                                }

                                a[id=phone],
                                a[id=email] {
                                    i {
                                        color: $color_a;
                                    }
                                }
                            }


                        }
                    }



                    .text {
                        .text-in {


                            p {
                                font-size: 3vh;
                            }
                        }
                    }

                    .line {
                        width: 20%;
                    }
                }
            }
        }
    }
}